@import "../../scss/index";

.items {
  display: flex;
  flex-direction: column;
  gap: map-get($spacers, 4);
  padding-right: map-get($spacers, 1);
  flex-grow: 1;
}

.bottomBun {
  margin-top: auto;
}

.onHover {
  > div {
    background-color: var(--background);
  }
}
