@import "./scss";

.container {
  max-width: 1240px;
  padding: 0 map-get($spacers, 5);
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.d-flex {
  display: flex;
}

.h-inherit {
  height: inherit;
}

.h-full {
  height: 100%;
}

.custom-scroll {
  overflow-y: scroll;
  height: inherit;
}

.overflow-y-hidden {
  overflow-y: hidden;
}

.text-center {
  text-align: center;
}

.text-nowrap {
  white-space: nowrap;
}

#modal-root {
  z-index: $modal-root-z-index;
}
