.item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
}

.image {
  width: 100%;
  box-sizing: border-box;

  > img {
    width: 100%;
    height: auto;
    display: block;
  }
}

.name {
  min-height: 48px;
}

.price {
  display: flex;
}
